@font-face {
	font-family: 'plus_jakarta_sansbold';
	src: url('../fonts/plus_jakarta_sans_bold-webfont.eot');
	src: url('../fonts/plus_jakarta_sans_bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/plus_jakarta_sans_bold-webfont.woff2') format('woff2'), url('../fonts/plus_jakarta_sans_bold-webfont.woff') format('woff'), url('../fonts/plus_jakarta_sans_bold-webfont.ttf') format('truetype'), url('../fonts/plus_jakarta_sans_bold-webfont.svg#plus_jakarta_sansbold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'plus_jakarta_sansextrabold';
	src: url('../fonts/plus_jakarta_sans_extrabold-webfont.eot');
	src: url('../fonts/plus_jakarta_sans_extrabold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/plus_jakarta_sans_extrabold-webfont.woff2') format('woff2'), url('../fonts/plus_jakarta_sans_extrabold-webfont.woff') format('woff'), url('../fonts/plus_jakarta_sans_extrabold-webfont.ttf') format('truetype'), url('../fonts/plus_jakarta_sans_extrabold-webfont.svg#plus_jakarta_sansextrabold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'plus_jakarta_sanslight';
	src: url('../fonts/plus_jakarta_sans_light-webfont.eot');
	src: url('../fonts/plus_jakarta_sans_light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/plus_jakarta_sans_light-webfont.woff2') format('woff2'), url('../fonts/plus_jakarta_sans_light-webfont.woff') format('woff'), url('../fonts/plus_jakarta_sans_light-webfont.ttf') format('truetype'), url('../fonts/plus_jakarta_sans_light-webfont.svg#plus_jakarta_sanslight') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'plus_jakarta_sansmedium';
	src: url('../fonts/plus_jakarta_sans_medium-webfont.eot');
	src: url('../fonts/plus_jakarta_sans_medium-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/plus_jakarta_sans_medium-webfont.woff2') format('woff2'), url('../fonts/plus_jakarta_sans_medium-webfont.woff') format('woff'), url('../fonts/plus_jakarta_sans_medium-webfont.ttf') format('truetype'), url('../fonts/plus_jakarta_sans_medium-webfont.svg#plus_jakarta_sansmedium') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'plus_jakarta_sansregular';
	src: url('../fonts/plus_jakarta_sans_regular-webfont.eot');
	src: url('../fonts/plus_jakarta_sans_regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/plus_jakarta_sans_regular-webfont.woff2') format('woff2'), url('../fonts/plus_jakarta_sans_regular-webfont.woff') format('woff'), url('../fonts/plus_jakarta_sans_regular-webfont.ttf') format('truetype'), url('../fonts/plus_jakarta_sans_regular-webfont.svg#plus_jakarta_sansregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'plus_jakarta_sanssemibold';
	src: url('../fonts/plus_jakarta_sans_semibold-webfont.eot');
	src: url('../fonts/plus_jakarta_sans_semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/plus_jakarta_sans_semibold-webfont.woff2') format('woff2'), url('../fonts/plus_jakarta_sans_semibold-webfont.woff') format('woff'), url('../fonts/plus_jakarta_sans_semibold-webfont.ttf') format('truetype'), url('../fonts/plus_jakarta_sans_semibold-webfont.svg#plus_jakarta_sanssemibold') format('svg');
	font-weight: normal;
	font-style: normal;
}

* {
font-smooth: always;
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

html,
body {
	font-family: 'plus_jakarta_sansregular', sans-serif;
	font-size: 18px;
	color: #7c90a6;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

body {
	background: #001833;
}

header {
	display: flex;
	position: fixed;
	top: 10px;
	left: 0;
	z-index: 3;
	align-items: center;
	justify-content: center;
	min-width: 1009px;
	width: 100%;
	height: 80px;
	background: none;
	transition: all .2s ease-in-out;
}

header.scrolled {
	top: 0;
	background: rgba(0, 0, 0, .7);
	backdrop-filter: blur(30px);
	-webkit-backdrop-filter: blur(30px);
}

header .container {
	display: flex;
	flex: 1;
	align-items: center;
	height: 80px;
}

header .logo {
	display: inline-block;
	width: 72px;
	height: 72px;
	outline: none;
	transition: all .2s ease-in-out;
	background: url('../../images/layout/logo_tc.webp') center center / 100% no-repeat;
}

header.scrolled .logo {
	width: 54px;
	height: 54px;
}

header .navigation {
	display: flex;
	flex: 1;
	align-items: center;
}

header nav ul {
	display: flex;
	position: absolute;
	gap: 60px;
	top: 50%;
	left: 50%;
	margin: 0;
	padding: 0;
	list-style: none;
	transform: translate(-50%, -50%);
}

nav li a {
	display: inline-flex;
	position: relative;
	font-family: 'plus_jakarta_sanssemibold';
	font-size: 16px;
	color: #455a6d;
	text-decoration: none;
	align-items: center;
	justify-content: center;
	transition: all .2s ease-in-out;
}

nav li a:hover {
	color: #2cb4ff;
}

nav li a:before {
	display: inline-flex;
	position: absolute;
	font-family: 'boxicons-filled';
	font-size: 12px;
	color: #2cb4ff;
	content: '\f305';
	top: 5px;
	left: calc(0px - 24px);
	scale: 0;
	-webkit-transform-origin-y: center;
	-ms-transform-origin-y: center;
	transition: all .3s ease-in-out;
}

nav li a.is-active {
	color: #ffffff;
}

nav li a.is-active:before {
	scale: 1;
}

nav li a span {
	display: inline-flex;
	line-height: normal;
}

.navigation .btn-contact {
	font-size: 16px;
	color: #ffffff;
	justify-content: center;
	min-width: 200px;
	margin: 0 0 0 auto !important;
	padding: 15px 30px;
	background: #03588c;
}

.navigation .btn-contact:before {
	position: absolute;
	display: block;
	content: '';
	top: 0;
	left: -20%;
	width: 0;
	height: 100%;
	transform: skewX(-45deg);
	background: #0367a6;
}

.navigation .btn-contact:hover:before {
	width: 150%;
}

.hero {
	display: flex;
	height: 100%;
	align-items: center;
}

.hero .container {
	display: flex;
	position: relative;
	gap: 50px;
	height: 100%;
}

.hero .hero-left,
.hero .hero-right {
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
}

.hero .hero-left {
	flex: 1 0 15%;
}

.hero .hero-left img {
	width: 100%;
}

.hero .hero-right {
	flex: 1 0 50%;
}

.hero .pre-title {
	margin: 0 0 30px 0;
}

.hero .main-title {
	font-family: 'plus_jakarta_sansextrabold', sans-serif;
	font-size: 68px;
	color: #7c90a6;
	width: auto;
	margin: 0 0 55px 0;
}

.hero .hero-social {
	display: flex;
	position: absolute;
	gap: 20px;
	bottom: 80px;
	list-style: none;
}

.hero .hero-social li a {
	font-size: 36px;
	color: #455a6d;
	text-decoration: none;
	transition: all .2s ease-in-out;
}

.hero .hero-social li a:hover {
	color: #ffffff;
}

.stats-section {
	padding: 94px 0;
	background: #0e253f;
}

.stats-section .stats-list {
	display: flex;
	align-items: center;
	list-style: none;
	margin: 0 -10px;
}

.stats-section .stats-item {
	display: flex;
	flex: 1;
	gap: 15px;
	padding: 0 10px;
}

.stats-section .stats-item-content {
	display: flex;
	flex-direction: column;
}

.stats-section .stats-icon {
	font-size: 64px;
	color: #1f8efe;
}

.stats-section .stats-value,
.stats-section .stats-label {
	line-height: 1;
}

.stats-section .stats-value {
	font-family: 'plus_jakarta_sansextrabold', sans-serif;
	font-size: 38px;
	color: #ffffff;
	margin-bottom: 10px;
}

.stats-section .stats-label {
	font-size: 16px;
	color: #7c90a6;
}

.pre-title {
	margin: 0 0 30px 0;
}

.pre-title > span {
	display: inline-flex;
    position: relative;
    font-family: 'Consolas', sans-serif;
    font-size: 20px;
    color: #7c90a6;
    padding: 5px;
}

.pre-title > span > .accent {
	display: inline-block;
	color: #2cb4ff;
	margin-right: 5px;
}

.pre-title > span:before {
	display: block;
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background: #000000;
}

.hero-title, 
.main-title, 
.hero-title .line, 
.main-title .line, 
.hero-title .word, 
.main-title .word, 
.hero-title .char, 
.main-title .char {
    overflow: visible !important;
}

.main-title {
	font-family: 'plus_jakarta_sansextrabold', sans-serif;
	font-size: 68px;
	width: clamp(290px, 100%, 880px);
	margin: 0 0 55px 0;
	will-change: transform, color;
}

.hero-title,
.main-title,
.hero-title .char,
.main-title .char,
.hero-title .accent .char,
.main-title .accent .char {
	color: #7c90a6;	
}

.hero-title .char,
.main-title .char,
.hero-title .accent,
.main-title .accent {
	display: inline !important;
}

.main-title > .accent {
	position: relative;
	overflow: hidden;
}

.master {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-x: clip;
}

.section {
	padding: 0 0 180px 0;
}

.container {
	width: 100%;
	max-width: 1480px;
	min-width: 960px;
	padding-inline: 30px;
	margin: 0 auto;
}

.content {
	position: relative;
	z-index: 1;
	padding: 180px 0 0 0;
}

.hero.is-in .main-title > .accent,
.content.is-in .main-title > .accent,
.hero.is-in .main-title > .accent *,
.content.is-in .main-title > .accent * {
	color: #2cb4ff;
}

.content p {
	margin-bottom: 25px;
}

.content p:last-child {
	margin-bottom: 0;
}

.content p > .highlighted {
	font-family: 'plus_jakarta_sanssemibold';
	color: #ffffff;
}

.about-section {
	position: relative;
}

.about-section:before {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: '';
	background: #001023;
}

.about-section .about-content-flex {
	display: flex;
	margin: 0 -45px;
}

.about-section .about-content-flex .about-column-flex {
	display: inline-flex;
	flex-direction: column;
	flex: 1;
	padding: 0 45px;
}

.stats {
	margin: 0;
	padding: 0;
	list-style: none;
}

.stats > li {
	margin: 0 0 40px 0;
}

.stats > li:last-child {
	margin: 0;
}

.progress {
	position: relative;
	display: flex;
	align-items: center;
	height: 25px;
}

.progress .progress-label {
	position: absolute;
	display: inline-flex;
	font-family: 'plus_jakarta_sanssemibold';
	font-size: 16px;
	color: #ffffff;
	line-height: 1.563;
	align-items: center;
	top: 0;
	left: 0;
	z-index: 1;
	padding: 0px 16px;
}

.progress .progress-number {
	display: inline-flex;
	font-family: 'plus_jakarta_sanssemibold', sans-serif;
	font-size: 16px;
	color: #ffffff;
	line-height: 1.563;
	margin-left: auto;
}

progress {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: calc(100% - 60px);
	width: -webkit-fill-available;
	width: fill-available;
	height: 100%;
	overflow: hidden;
	border-radius: 100px;
	margin-inline-end: 60px;
}

progress::-webkit-progress-bar {
  background-color: #455a6d;
}

progress::-webkit-progress-value {
  background-color: #2cb4ff;
  border-radius: 100px;
}

progress::-moz-progress-bar {
  background-color: #455a6d;
}

.cards {
	display: flex;
	flex-wrap: wrap;
	margin: -20px;
	padding: 0;
	list-style: none;
}

.cards .card {
	display: inline-flex;
	position: relative;
	min-width: 25%;
	flex-basis: 25%;
  	padding: 20px;
  	aspect-ratio: 1 / 1;
}

.cards-skills .card {
	min-width: 20%;
	flex-basis: 20%;
}

.cards .card .card-wrapper {
	display: flex;
	position: relative;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: clamp(59px, 100vw, 3.2433rem) 0;
}

.cards .card .card-wrapper .card-surface {
	position: absolute;
	display: block;
	content: '';
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	overflow: hidden;
	border-radius: 20px;
	background: #000000;
}

.cards .card .card-wrapper:hover .card-surface {
	scale: 1.05;
}

.card .card-surface:before {
	display: block;
    position: absolute;
    top: -100rem;
    left: 0;
    content: '';
    width: 100%;
    height: 80rem;
    background: #1f8efe;
    transform: skewY(135deg);
    transition: all .4s ease-in-out;
}

.card .card-wrapper:hover .card-surface:before {
	top: -10rem;
}

.cards .card .ti,
.cards .card .bx,
.cards .card .bxf,
.cards .card .bxl {
	font-size: 64px;
	color: #455a6d;
	margin-bottom: 20px;
}

.cards .card .card-wrapper,
.cards .card .card-wrapper *,
.cards .card .card-wrapper .card-surface {
	transition: all .2s ease-in-out;
}

.cards .card .card-wrapper:hover .ti,
.cards .card .card-wrapper:hover .bx,
.cards .card .card-wrapper:hover .bxf,
.cards .card .card-wrapper:hover .bxl,
.cards .card .card-wrapper:hover .card-title {
	color: #ffffff;
}

.cards .card .card-title {
	font-family: 'plus_jakarta_sansbold', sans-serif;
	font-size: 20px;
}

.recent-works-cards .card {
	flex-basis: 33.3333%;
    max-width: 33.3333%;
    min-height: 425px;
    aspect-ratio: 4 / 3;
}

.recent-works-cards .card-wrapper {
	cursor: pointer;
	padding: 0 !important;
	overflow: hidden;
	border-radius: 20px;
	box-shadow: 0px 0px 0px 1px #001833;
}

.recent-works-cards .card-wrapper .card-picture {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.recent-works-cards .card-wrapper .card-picture img {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	object-fit: cover;
	transform-origin: center;
}

.recent-works-cards .card-wrapper .card-picture,
.recent-works-cards .card-wrapper .card-picture * {
	transition: all .2s ease-in-out;
}

.recent-works-cards .card-wrapper .card-picture-reveal {
	position: absolute;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	opacity: 0;
	background: rgba(0, 0, 0, .8);
}

.recent-works-cards .card-wrapper:hover .card-picture-reveal {
	opacity: 1;
}

.recent-works-cards .card-wrapper .card-picture-reveal .icon {
	opacity: 0;
	transition-delay: 200ms;
}

.recent-works-cards .card-wrapper:hover .card-picture-reveal .icon {
	opacity: 1;
}

.recent-works-cards .card-wrapper:hover .card-picture img {
	transform: scale(1.03);
}

.recent-works-cards .card-wrapper .card-picture-reveal .icon,
.recent-works-cards .card-wrapper:hover .card-picture-reveal .icon {
	font-size: 34px;
	color: #1f8efe;
}

/*.recent-works-cards .card-wrapper .card-picture:before {
	display: flex;
	position: absolute;
	font-family: 'tabler-icons';
	font-size: 54px;
	color: #31404e;
	align-items: center;
	justify-content: center;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 100%;
	z-index: -1;
	content: '\fa4a';
	transform: translate(-50%, -50%);
	background: #455a6d;
}*/

.recent-works-cards .card-wrapper .card-content {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 20px;
}

.recent-works-cards .card-wrapper .card-content:after {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	z-index: -1;
	content: '';
	width: 100%;
	height: 100%;
	background: #000000;	
}

.recent-works-cards .card .card-title,
.recent-works-cards .card .card-description,
.recent-works-cards .card .card-description-status {
	position: relative;
	z-index: 1;
}

.recent-works-cards .card .card-title {
	font-family: 'plus_jakarta_sanssemibold';
	font-size: 18px;
	color: #ffffff;
	margin: 0 0 10px 0;
}

.recent-works-cards .card .card-description {
	font-family: 'plus_jakarta_sanssemibold';
	font-size: 14px;
	color: #455a6d;
}

.recent-works-cards .card .card-description-status {
	display: inline-flex;
	font-family: 'plus_jakarta_sanssemibold';
	font-size: 12px;
	color: #455a6d;
	text-transform: uppercase;
	align-items: center;
	border-radius: 64px;
	padding: 6px 12px;
	border: 1px solid #455a6d;
}

.recent-works-cards .card .card-description-status.is-done {
	color: #ffffff;
	border-color: #8c97a3;
}

.recent-works-cards .card .card-wrapper:hover .card-description {
	color: #8fc6fe;
}

.recent-works-cards .card .card-wrapper:hover .card-description-status {
	color: #ffffff;
	border: 1px solid #8fc6fe;
}

.recent-works-cards .card .card-description-status.is-done::before {
	display: inline-block;
	font-family: 'boxicons';
	font-size: 14px;
	content: '\f26e';
	margin-right: 8px;

}

.recent-works-cards .card .card-description-status.coming-soon::before {
	display: inline-block;
	font-family: 'boxicons';
	font-size: 14px;
	content: '\f31f';
	margin-right: 8px;

}

.recent-works-cards .card .card-content:before {
	display: block;
	position: absolute;
	content: '';
	top: 0;
	left: -100rem;
	width: 95rem;
	height: 100%;
	transform: skewX(-45deg);
	background: #1f8efe;
	transition: all .4s ease-in-out;
} 

.recent-works-cards .card .card-wrapper:hover .card-content:before {
	left: -5rem;
}

.recent-works-cards .card .view-more {
	position: relative;
	font-size: 36px;
	cursor: pointer;
	margin: 0;
	z-index: 1;
	opacity: 0;
}

.recent-works-cards .card .card-wrapper:hover .view-more {
	opacity: 1;
}

.recent-works-cards .card .view-more.ui-tooltip:after {
	margin-left: -100%;
}

.contact-list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 40px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.contact-list li {
	display: flex;
	min-width: 250px;
}

.contact-list .contact-list-wp {
	display: flex;
	position: relative;
	color: #455a6d;
	text-decoration: none;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	border-radius: 20px;
	padding: 30px;
	overflow: hidden;
	transition: all .2s ease-in-out;
	background: #0e253f;

}

.contact-list .contact-list-wp:before {
	display: block;
	position: absolute;
	top: -100rem;
	left: 0;
	z-index: 0;
	content: '';
	width: 100%;
	height: 80rem;
	background: #192f47;
	transform: skewY(135deg);
	transition: all .4s ease-in-out;
}

.contact-list .contact-list-wp:hover:before {
	top: -10rem;
}

.contact-list .contact-list-wp:hover {
	transform: scale(1.03);
}

.contact-list .contact-list-wp:hover .icon,
.contact-list .contact-list-wp:hover .contact-list-title,
.contact-list .contact-list-wp:hover .contact-list-text {
	transform: scale(0.9709);
}

.contact-list .contact-list-wp a {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
}

.contact-list .contact-list-wp,
.contact-list .contact-list-wp * {
	transition: all .2s ease-in-out;
}

.contact-list .contact-list-wp .icon,
.contact-list .contact-list-wp .contact-list-title,
.contact-list .contact-list-wp .contact-list-text {
	position: relative;
	z-index: 1;
}

.contact-list .contact-list-wp:hover .icon {
	color: #ffffff;
	background: #2cb4ff;
}

.contact-list .contact-list-wp:hover .contact-list-text {
	color: #7c90a6;
}

.contact-list .contact-list-wp .contact-list-title,
.contact-list .contact-list-wp .contact-list-text {
	display: block;
}

.contact-list .contact-list-wp .contact-list-title {
	font-family: 'plus_jakarta_sansextrabold', sans-serif;
	font-size: 24px;
	color: #ffffff;
	margin-bottom: 15px;
}

.contact-list .contact-list-wp .contact-list-text {
	font-family: 'plus_jakarta_sansmedium' sans-serif;
	font-size: 16px;
	line-height: 1.3;
	width: 100%;
	min-width: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.contact-list li .contact-list-wp .ti,
.contact-list li .contact-list-wp .bx,
.contact-list li .contact-list-wp .bxf,
.contact-list li .contact-list-wp .bxl {
	display: inline-flex;
	font-size: 26px;
	color: #2cb4ff;
	align-items: center;
	justify-content: center;
	width: 54px;
	height: 54px;
	margin: 0 0 15px 0;
	border-radius: 12px;
	background: #192f47;
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
}

.contact-section .contact-btn-group {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 40px;
	margin: 40px 0 0 0;
}

.contact-section .contact-btn-group .btn {
	justify-content: center;
	grid-column: span 1;
	margin: 0px;
}

.footer .footer-in {
	display: flex;
	align-items: center;
	padding: 30px 0;
	border-top: 1px solid #192f47;
}

.footer .footer-copy,
.footer .footer-design-by {
	font-size: 16px;
	color: #7c90a6;
}

.footer .footer-design-by {
	margin-left: auto;
}

.footer .footer-design-by .highlighted {
	color: #ffffff;
}

.btn {
	display: inline-flex;
	position: relative;
	font-family: 'plus_jakarta_sanssemibold', sans-serif;
	font-size: 18px;
	color: #ffffff;
	text-decoration: none;
	padding: 18px 28px 18px 30px;
	border-radius: 999px;
	background: #000000;
	margin: 0 30px 0 0;
	overflow: hidden;
}

.btn,
.btn *,
.btn:before {
	transition: all .2s ease-in-out;
}

.btn:active {
	scale: 0.95;
}

.btn > .label {
	position: relative;
	display: inline-flex;
	align-items: center;
	gap: 8px;
	z-index: 1;
}

.btn > .label > .ti,
.btn > .label > .bx,
.btn > .label > .bxf {
	display: inline-flex;
	font-size: 26px;
	align-items: center;
	justify-content: center;
	width: 28px;
	height: 28px;
}

.btn.btn-primary {
	background: #1f8efe;
}

.btn.btn-inverted.btn-outline {
	box-shadow: inset 0px 0px 0px 2px rgba(255, 255, 255, 1.0);
	background: none;
}

.btn.btn-inverted-ghost.btn-outline {
	box-shadow: inset 0px 0px 0px 2px rgba(69, 90, 109, 1.0);
	background: none;
}

.btn-inverted.btn-outline:hover {
	color: #001833;
}

.btn-primary:before,
.btn-inverted.btn-outline:before,
.btn-inverted-ghost.btn-outline:before {
	position: absolute;
	display: block;
	content: '';
	top: 0;
	left: -20%;
	width: 0;
	height: 100%;
	transform: skewX(-45deg);
	transition: all .2s ease-in-out;
}

.btn-primary:before {
	background: #2cb4ff;
}

.btn-inverted.btn-outline:before {
	background: #ffffff;
}

.btn-inverted-ghost.btn-outline:before {
	background: #455a6d;
}

.btn-primary:hover:before,
.btn-inverted.btn-outline:hover:before,
.btn-inverted-ghost.btn-outline:hover:before {
	width: 150%;
}

.btn-descubra > .label > .ti:before,
.btn-descubra > .label > .bx:before, 
.btn-descubra > .label > .bxf:before {
	animation: arrow-bounce 0.4s ease-in-out infinite;
}

.btn:last-child {
	margin: 0;
}

@keyframes arrow-bounce {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(2px); }
  100% { transform: translateY(0); }
}

.jc-dialog-title {
	display: inline-flex;
	font-family: 'plus_jakarta_sansextrabold';
	font-size: 24px;
	color: #2cb4ff;
	gap: 20px;
	margin: 0px 0px 20px 0px;
}

.jc-dialog-title > strong {
	display: inline-block;
	line-height: 28px;
}

.jc-dialog-subtitle {
	font-family: 'plus_jakarta_sansbold';
	font-size: 18px;
	color: #ffffff;
	margin: 0px 0px 20px 0px;
}

.jc-dialog-text {
	margin: 0px 0px 10px 0px;
}

.jc-dialog-text:last-child {
	margin: 0;
}

.jc-dialog-flexbox-container {
	display: flex;
	align-items: flex-start;
}

.jc-dialog-content-left {
	position: relative;
	width: 45%;
	aspect-ratio: 4 / 3;
	overflow: hidden;
	border-radius: 20px;
}

.jc-dialog-content-right {
	flex: 1;
	margin-left: 40px;
}

.jc-dialog-video {
	position: relative;
	width: 100%;
	height: 100%;
	aspect-ratio: 4 / 3;
	overflow: hidden;
	background: #000000;
}

.jc-dialog-content-left::before {
	display: inline-block;
	position: absolute;
	font-family: 'boxicons-filled';
	font-size: 100px;
	color: #455a6d;
	content: '\f653';
	top: 50%;
	left: 50%;
	z-index: 1;
	transform: translate(-50%, -50%);
}

.jc-dialog-content-left::after {
	display: block;
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(rgba(44, 180, 255, 0.2), rgba(0, 0, 0, 1));
}

.jc-dialog-block {
	margin: 0px 0px 30px 0px;
}

.jc-dialog-block:last-child {
	margin: 0px;
}

.jc-dialog-ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.jc-dialog-ul li {
	display: flex;
	line-height: 18px;
	margin: 0px 0px 15px 0px;
}

.jc-dialog-ul li::before {
	display: inline-flex;
	font-family: 'boxicons';
	font-size: 20px;
	color: #2cb4ff;
	content: '\f2d2';
	margin-right: 10px;
}

.jc-dialog-ul li:last-child {
	margin: 0;
}

.jc-dialog-links {
	display: flex;
	margin-top: 30px;
}

.jc-dialog-links .link {
	display: inline-flex;
	font-family: 'plus_jakarta_sansbold';
	font-size: 14px;
	color: #ffffff;
	text-decoration: none;
	border-radius: 64px;
	padding: 10px 16px 10px 0px;
	background: #03588c;
	transition: all .2s ease-in-out;
}

.jc-dialog-links .link:active {
	scale: 0.95;
}

.jc-dialog-links .link:hover {
	background: #0367a6;
}

.jc-dialog-links .link .ti,
.jc-dialog-links .link .bx,
.jc-dialog-links .link .bxf,
.jc-dialog-links .link .bxl {
	display: inline-flex;
	font-size: 20px;
	justify-content: center;
	width: 46px;
}

.jc-dialog-text-note {
	display: flex;
	font-size: 14px;
	color: #2cb4ff;
	align-items: center;
	margin-top: 20px;
}

.jc-dialog-text-note .ti,
.jc-dialog-text-note .bx,
.jc-dialog-text-note .bxf {
	display: inline-flex;
	font-size: 20px;
	margin-right: 10px;
}

.ui-badge {
	display: inline-flex;
    font-size: 12px;
    font-family: 'plus_jakarta_sanssemibold';
    color: #ffffff;
    text-transform: uppercase;
	white-space: nowrap;
    flex: 0;
	align-items: center;
    align-self: baseline;
	padding: 6px 10px 6px 6px;
    border-radius: 64px;
    border: 1px solid #455a6d;
    gap: 5px;
	background: #455a6d;
}

.ui-badge::before {
	display: inline-flex;
	font-family: 'boxicons';
	font-size: 14px;
	color: #8c97a3;
	content: '\f31f';
	transform: translateY(1px);
}

.ui-pills {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	align-items: center;
}

.ui-pills .pill {
	display: inline-flex;
    font-size: 16px;
    font-family: 'plus_jakarta_sanssemibold';
    color: #ffffff;
	cursor: pointer;
    line-height: 1.33;
    align-items: center;
    padding: 8px 12px 8px 8px;
    border-radius: 64px;
    border: 1px solid #455a6d;
    gap: 5px;
	background: rgba(69, 90, 109, .2);
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
}

.ui-pills .pill:hover {
	background: rgba(140, 151, 163, .2);
}

.ui-pills .pill::before {
	display: inline-flex;
	font-family: 'boxicons-filled';
	font-size: 10px;
	color: var(--pill-color, #1f8efe);
	content: '\f755';
	transform: translateY(1px);
}

.ui-tooltip {
	position: relative;
}

.ui-tooltip:after {
	position: absolute;
	font-family: 'plus_jakarta_sanssemibold', sans-serif;
	font-size: 14px;
	color: #ffffff;
	text-align: center;
	white-space: normal;
	content: attr(data-title);
	z-index: 3;
	width: max-content;
	min-width: 75px;
	max-width: 200px;
	padding: 10px;
	opacity: 0;
	visibility: hidden;
	border-radius: 5px;
	box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, .2);
	background: rgba(25, 25, 25, .8); /* precisa ter alpha */
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
	transition: all .2s ease-in-out 300ms;
}

.ui-tooltip.top:after {
	bottom: 100%;
	left: 50%;
	margin-bottom: 5px;
	transform: translateX(-50%);
}

.ui-tooltip.bottom:after {
	top: 100%;
	left: 50%;
	margin-top: 5px;
	transform: translateX(-50%);
}

.ui-tooltip.left:after {
	top: 50%;
	left: auto;
	right: 100%;
	margin-right: 5px;
	transform: translate(0, -50%);
}

.ui-tooltip.right:after {
	top: 50%;
	left: 100%;
	margin-left: 5px;
	transform: translate(0, -50%);
}

.ui-tooltip:hover:after {
	opacity: 1;
	visibility: visible;
}

@media (max-width: 1200px) {
	.recent-works-cards .card {
    	flex-basis: 50%;
    	max-width: 50%;
    }

	.recent-works-cards .card-wrapper .card-picture img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.contact-list {
		grid-template-columns: repeat(2, 1fr);
	}

	.contact-section .contact-btn-group {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 640px) {
	.contact-list {
		grid-template-columns: repeat(1, 1fr);
	}

	.contact-section .contact-btn-group {
		grid-template-columns: repeat(1, 1fr);
	}
}

@media (max-width: 1024px) {
	.hero .main-title {
		font-family: 'plus_jakarta_sansextrabold', sans-serif;
		font-size: 54px;
		color: #455a6d;
		width: auto;
		margin: 0 0 55px 0;
	}

	.hero .hero-social {
		display: flex;
		position: absolute;
		gap: 20px;
		bottom: 60px;
		list-style: none;
	}

	.main-title {
    	font-family: 'plus_jakarta_sansextrabold', sans-serif;
    	font-size: 54px;
    	width: clamp(290px, 100%, 760px);
    	margin: 0 0 55px 0;
    	will-change: transform, color;
	}
}
